@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="~/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/creative.min.css" rel="stylesheet">
    <link href="~/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/creation.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger text-danger" href="#page-top"><img src="~/img/Logo.png" alt=""></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Application</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead text-center d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <label class="text-uppercase text-danger" style=" font-family:'Agency FB'; font-size:60px;">
                        <strong style=" font-family:'Agency FB'; font-size: 90px;">E</strong>mergency <strong style=" font-family:'Agency FB'; font-size: 90px;">B</strong>lood <strong style=" font-family:'Agency FB'; font-size: 90px;">D</strong>onor
                    </label>
                    <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                    <p class=" text-dark mb-5">Start with registering your own account to donate blood. Sign Up Now!</p>
                    <a class="btn btn-danger btn-xl js-scroll-trigger" href="#about">Find Out More</a>
                </div>
            </div>
        </div>
    </header>
    <!-- About Us -->
    <section class="bg-danger" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading text-white">About Us!</h2>
                    <hr class="light my-4">
                    <p class="text-light mb-4" style="font-size:18px;">
                        Emergency Blood Donor is an application for the users who need urgent blood transfusion, which is needed in a couple of hours, and users who want to donate blood.<br />
                        As there are peopele who need blood and some want to donate blood, this application will help them connect.
                    </p>
                                                                        <hr/>
                    <p class="text-light mb-4" style="font-size:24px;">By using this application, one can actually save a life.</p>
                @Html.ActionLink("Join Us Now!", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-light btn-xl js-scroll-trigger" })
</div>
            </div>
        </div>
    </section>
    <!-- Services -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-4x fa-search text-danger mb-3 sr-icon-1"></i>
                        <h3 class="mb-3">Search Donors</h3>
                        <p class="text-muted mb-0">Donors lists are up to date</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-4x fa-list text-danger mb-3 sr-icon-2"></i>
                        <h3 class="mb-3">Post to Search</h3>
                        <p class="text-muted mb-0">You can create post to search for donors</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-4x fa-mobile text-danger mb-3 sr-icon-3"></i>
                        <h3 class="mb-3">Contact Donors</h3>
                        <p class="text-muted mb-0">Contact via Phone</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-4x fa-heart text-danger mb-3 sr-icon-4"></i>
                        <h3 class="mb-3">Donate blood</h3>
                        <p class="text-muted mb-0">Save lives</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p-0">
        <div class="container-fluid p-0">
            <div class="row no-gutters popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/img/portfolio/fullsize/1.jpg">
                        <img class="img-fluid" src="~/img/portfolio/thumbnails/1.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                                <div class="project-name">
                                  
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/img/portfolio/fullsize/2.jpg">
                        <img class="img-fluid" src="~/img/portfolio/thumbnails/2.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                                <div class="project-name">
                                  
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/img/portfolio/fullsize/3.jpg">
                        <img class="img-fluid" src="~/img/portfolio/thumbnails/3.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                                <div class="project-name">
                           
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/img/portfolio/fullsize/4.jpg">
                        <img class="img-fluid" src="~/img/portfolio/thumbnails/4.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                                <div class="project-name">
                      
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/img/portfolio/fullsize/5.jpg">
                        <img class="img-fluid" src="~/img/portfolio/thumbnails/5.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                                <div class="project-name">
                             
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/img/portfolio/fullsize/6.jpg">
                        <img class="img-fluid" src="~/img/portfolio/thumbnails/6.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                                <div class="project-name">
                            
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Application -->
    <section class="content-section" id="portfolio">
        <div class="container">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">Application</h3>
                <h2 class="mb-5">Use to Searh donors</h2>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <span class="caption">
                            <span class="caption-content">
                                <h2>Save Live</h2>
                                <p class="mb-0">Be a Hero</p>
                            </span>
                        </span>
                        <img class="img-fluid" src="~/img/portfolio-1.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <span class="caption">
                            <span class="caption-content">
                                <h2>Join Hands</h2>
                                <p class="mb-0">Every blood counts!!!</p>
                            </span>
                        </span>
                        <img class="img-fluid" src="~/img/portfolio-2.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <span class="caption">
                            <span class="caption-content">
                                <h2>Life</h2>
                                <p class="mb-0">One at a time</p>
                            </span>
                        </span>
                        <img class="img-fluid" src="~/img/portfolio-3.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <span class="caption">
                            <span class="caption-content">
                                <h2>Love</h2>
                                <p class="mb-0">Fill With it</p>
                            </span>
                        </span>
                        <img class="img-fluid" src="~/img/portfolio-4.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="bg-danger">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center text-light">
                    <h2 class="section-heading">Contact Us!</h2>
                    <hr class="my-4">
                    <p class="mb-5">Have some questions about the application? Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center text-light">
                    <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
                    <p>09-420056760</p>
                </div>
                <div class="col-lg-4 mr-auto text-center text-light">
                    <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
                    <p>
                        <a href="mailto:supyaethuya@gmail.com" class="js-scroll-trigger text-secondary">EmergencyBloodDonor@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer style="background-color:darkred; color:white;">
        <p>Copyright &copy; Emergency Blood Donor @DateTime.Now.Year</p>
    </footer>

    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="~/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Scripts/creative.min.js"></script>
    <script src="~/Scripts/creation.min.js"></script>

</body>
</html>